.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid steelblue;
    margin: 20px 10vw;
    padding : 10px 30px;

    height: 25px;
    border-radius: 25px;

    font-size: 1.2em;
}
.item span:nth-child(2){
    text-align: center;

    width: 60vw;
    padding-left: 20px;
    padding-right: 20px;

    overflow : hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.item i{
    color: steelblue;
    font-size: 25px;
}
.item i:last-child{
    padding-left: 10px;
    color : salmon;
}

.checked{
    opacity: 0.5;
    border: 4px solid lightsteelblue;
}